@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  font-family: sans-serif;
}

body {
  background-color: #f8f9fc;
}

h1 {
  font-weight: normal;
}

body, ol, ul, h1, h2, h3, h4, h5, hr, p, figure {
  padding: 0;
  margin: 0;
}

a {
  color: $btn-default-font-color;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  display: none;
}