@import "./variables.scss";
.btn {
  border: none;
  background-color: transparent;
  color: $btn-default-font-color;
  padding: $base-font-size 1.5 * $base-font-size;
  border-top-left-radius: $border-top-left-radius;
  border-bottom-right-radius: $border-bottom-right-radius;
  font-size: $base-font-size;
  &_success {
    background-color: #1fdb84;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  }
}