@import "./variables.scss";
@import "mixins";




.page-header {
  background-color: $background-dark;
}

.page-nav {
  @include pageContainer;
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  &__logo {
    @include flexCenterVertical;
    color: $page-nav-link-color;
    font-size: $logo-font-size;
  }
  &__toggle {
    display: none;
  }
  &__menu {
    @include flexCenterVertical;
  }
  &__item {
    margin: 0 $page-nav-item-margin;
    display: flex;
  }
  &__link {
    color: $page-nav-link-color;
    @include flexCenterVertical;
    justify-content: center;
  }
}

.account-panel {
  @include flexCenterVertical;
  &__btn {
    margin: 0;
    padding: $base-font-size*0.6875 1.875*$base-font-size;
    font-size: $base-font-size;
  }
}

.banner {
  @include pageContainer;
  display: flex;
  justify-content: space-between;
  &__img {
    width: 463px;
    height: 792px;
    background-image: url("../../assets/images/artboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__info {
    padding: 146px 150px 0 0;
  }
  &__header {
    font-size: $base-font-size*3;
    color: $btn-default-font-color;
    width: 70%;
  }
  &__text {
    font-size: $base-font-size;
    color: $btn-default-font-color;
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 2;
    width: 80%;
  }
  &__btn {
    font-size: $base-font-size*1.125;
    padding: $base-font-size*1.25 3.375*$base-font-size;
  }
}