@import "mixins";
@import "variables";

.quotes {
  margin-top: 250px;
  background: linear-gradient(to right, transparent 43.75%, $background-dark 43.75%, $background-dark 100%);
  width: 100%;
  padding-top: 30px;
  &__header {
    @include mobile {
      font-size: $mobile-font-size*2.5;
    }
    font-size: $base-font-size*2.5;
    color: $dark-header-text-color;
    padding-left: 11.8%;
    padding-top: 70px;
    line-height: 1.2;
    width: 30%;
  }
  &__background {
    display: flex;
    justify-content: space-between;
    width: 23.625*$base-font-size;
    margin-left: 10.2%;
    z-index: -1;
    position: absolute;
  }
  &__hook {
    opacity: 0.1;
    background-color: $seaweed-color;
    width: $base-font-size*10.3125;
    height: $base-font-size*12.875;
    &::after {
      position: relative;
      top: $base-font-size*25.75;
      content: '';
      border-top: $base-font-size*12.875 solid $seaweed-color;
      border-right: $base-font-size*10.3125 solid transparent;
    }
  }
  &__comments {
    display: flex;
    flex-direction: column;
    padding-left: 28%;
    padding-top: 60px;
  }
}

.comments {
  &__items {
    width: 120%;
    display: flex;
    justify-content: start;
    @include tablet {
      width: unset;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__item {
    @include tablet {
      margin-bottom: 50px;
    }
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    padding-left: 50px;
    padding-top: 120px;
    padding-right: 60px;
    padding-bottom: 63px;
    border-radius: 6px;
    box-shadow: 12px 12px 40px 0 rgba(121, 121, 121, 0.3);
    background-color: rgba(255, 255, 255, 0.95);
    //width: 26.25*$base-font-size;
    &:active {
      background-color: $seaweed-color;
      box-shadow: 12px 12px 40px 0 rgba(31, 219, 132, 0.5);
      & div {
        color: $page-nav-link-color;
      }
      & .comments__company {
        opacity: .8;
      }
      & .comments__hook {
        background-color: $page-nav-link-color;
        &::after {
          border-top: $base-font-size*1.25 solid $page-nav-link-color;
        }
      }
    }
  }
  &__hooks {
    display: flex;
    justify-content: space-between;
    width: $base-font-size*3.0625;
    position: relative;
    bottom: $base-font-size*2.5;
  }
  &__hook {
    background-color: $seaweed-color;
    width: $base-font-size*1.125;
    height: $base-font-size*1.25;
    &::after {
      position: relative;
      top: $base-font-size*2.5;
      content: '';
      border-top: $base-font-size*1.25 solid $seaweed-color;
      border-right: $base-font-size*1.125 solid transparent;
    }
  }
  &__text {
    font-size: $base-font-size*1.125;
    color: $dark-simple-text-color;
    line-height: 2;
    flex-grow: 1;
    margin-bottom: 3*$base-font-size;
  }
  &__personality {
    display: flex;
    justify-content: space-between;
    font-size: $base-font-size*1.125;
    color: $dark-header-text-color;
  }
  &__company {
    flex-grow: 0.9;
    opacity: .4;
  }
  &__circles {
    display: flex;
    justify-content: start;
    margin-top: 100px;
    margin-left: 35%;
    margin-bottom: 90px;
    flex-wrap: wrap;
  }
  &__circle {
    cursor: pointer;
    margin-right: .9375*$base-font-size;
    height: 1.25*$base-font-size;
    width: 1.25*$base-font-size;
    border: solid 3px $btn-default-font-color;
    border-radius: 50%;
    &:active {
      background-color: $btn-default-font-color;
    }
  }
}

