$background-dark: #313a5a;
$base-font-size: 16px;
$btn-default-font-color: #ffffff;

$border-top-left-radius: 5px;
$border-bottom-right-radius: 5px;
$border-bottom-left-radius: 5px;
$border-top-right-radius: 5px;

$page-container-padding: 16px;

$navbar-height: 58px;
$page-nav-item-margin: 36px;
$page-nav-link-color: #ffffff;
$logo-font-size: 26px;

$seaweed-color: #1fdb84;
$dark-simple-text-color: #5b6c94;
$dark-header-text-color: #031d5b;