* {
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: sans-serif; }

body, ul, ol, h1, h2, h3, h4, h5, hr, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }
.accordion__control {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s; }
  .accordion__control:after {
    content: '+';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px; }
  .accordion__control:hover {
    background-color: #ccc; }

.accordion__text {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out; }

.accordion_expand {
  background-color: #ccc; }
  .accordion_expand:after {
    content: "\2212"; }
